@import "tailwindcss";

:root {
    --color-primary-500: #F4EFE4;
    --color-sand: #F4EFE4;
    --font-serif: 'Merriweather';
    --font-mono: 'Inconsolata';
    --font-sans: 'Roboto condensed';
}

.bg-sand {
    background-color: var(--color-sand);
}

.bg-yellow {
    background-color: #FFD400;
}

.bg-red {
    background: #DE7070;
}

.color-red {
    color: #DE7070;
}